/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: grey;
}

.label_normal {
    -fx-alignment: CENTER_RIGHT;
}

.label_val {
    -fx-alignment: CENTER_LEFT;
}

#my-stack-pane {
    -fx-alignment: CENTER;
}

#line_u {
    -fx-translate-x: -370;
    -fx-translate-y: -230;
    -fx-alignment: CENTER;
}

#L_Uab_Label {
    -fx-translate-x: -410;
    -fx-translate-y: -200;
}

#L_Uab_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: -200;
}

#L_Ubc_Label {
    -fx-translate-x: -410;
    -fx-translate-y: -180;
}

#L_Ubc_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: -180;
}

#L_Uca_Label {
    -fx-translate-x: -410;
    -fx-translate-y: -160;
}

#L_Uca_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: -160;
}

#G1_Uab_Label {
    -fx-translate-x: -410;
    -fx-translate-y: 170;
}

#G1_Uab_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: 170;
}

#G1_Ubc_Label {
    -fx-translate-x: -410;
    -fx-translate-y: 190;
}

#G1_Ubc_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: 190;
}

#G1_Uca_Label {
    -fx-translate-x: -410;
    -fx-translate-y: 210;
}

#G1_Uca_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: 210;
}

#G1_Ia_Label {
    -fx-translate-x: -410;
    -fx-translate-y: 250; 
}

#G1_Ia_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: 250; 
}

#G1_Ib_Label {
    -fx-translate-x: -410;
    -fx-translate-y: 270; 
}

#G1_Ib_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: 270; 
}

#G1_Ic_Label {
    -fx-translate-x: -410;
    -fx-translate-y: 290; 
}

#G1_Ic_Label_Val {
    -fx-translate-x: -350;
    -fx-translate-y: 290; 
}

#G2_Uab_Label {
    -fx-translate-x: 50;
    -fx-translate-y: 170;
}

#G2_Uab_Label_Val {
    -fx-translate-x: 110;
    -fx-translate-y: 170;
}

#G2_Ubc_Label {
    -fx-translate-x: 50;
    -fx-translate-y: 190;
}

#G2_Ubc_Label_Val {
    -fx-translate-x: 110;
    -fx-translate-y: 190;
}

#G2_Uca_Label {
    -fx-translate-x: 50;
    -fx-translate-y: 210;
}

#G2_Uca_Label_Val {
    -fx-translate-x: 110;
    -fx-translate-y: 210;
}

#G2_Ia_Label {
    -fx-translate-x: 50;
    -fx-translate-y: 250; 
}

#G2_Ia_Label_Val {
    -fx-translate-x: 110;
    -fx-translate-y: 250; 
}

#G2_Ib_Label {
    -fx-translate-x: 50;
    -fx-translate-y: 270; 
}

#G2_Ib_Label_Val {
    -fx-translate-x: 110;
    -fx-translate-y: 270; 
}

#G2_Ic_Label {
    -fx-translate-x: 50;
    -fx-translate-y: 290; 
}

#G2_Ic_Label_Val {
    -fx-translate-x: 110;
    -fx-translate-y: 290; 
}

#G3_Uab_Label {
    -fx-translate-x: 450;
    -fx-translate-y: 170;
}

#G3_Uab_Label_Val {
    -fx-translate-x: 510;
    -fx-translate-y: 170;
}

#G3_Ubc_Label {
    -fx-translate-x: 450;
    -fx-translate-y: 190;
}

#G3_Ubc_Label_Val {
    -fx-translate-x: 510;
    -fx-translate-y: 190;
}

#G3_Uca_Label {
    -fx-translate-x: 450;
    -fx-translate-y: 210;
}

#G3_Uca_Label_Val {
    -fx-translate-x: 510;
    -fx-translate-y: 210;
}

#G3_Ia_Label {
    -fx-translate-x: 450;
    -fx-translate-y: 250; 
}

#G3_Ia_Label_Val {
    -fx-translate-x: 510;
    -fx-translate-y: 250; 
}

#G3_Ib_Label {
    -fx-translate-x: 450;
    -fx-translate-y: 270; 
}

#G3_Ib_Label_Val {
    -fx-translate-x: 510;
    -fx-translate-y: 270; 
}

#G3_Ic_Label {
    -fx-translate-x: 450;
    -fx-translate-y: 290; 
}

#G3_Ic_Label_Val {
    -fx-translate-x: 510;
    -fx-translate-y: 290; 
}